*.o
*.app
*.dylib
moc_*.cpp
moc_*
*.user
*Makefile*
Makefile
*.wav
*.flac
Widget/ComboBoxWidgetColor/moc_comboboxwidgetcolor.cpp
Widget/ComboBoxLabelWidget/moc_comboboxnamewidget.cpp
ComplexToneGenerator/moc_timeplotwidget.cpp
ComplexToneGenerator/moc_sinusdata.cpp
ComplexToneGenerator/moc_plotwidget.cpp
ComplexToneGenerator/moc_mainwindow.cpp
ComplexToneGenerator/moc_generictimedata.cpp
ComplexToneGenerator/moc_freqplotwidget.cpp
ComplexToneGenerator/moc_digesttimedata.cpp
ComplexToneGenerator/ComplexToneGenerator.pro.user
Widget/QwtHelpers/moc_zmp_handler.cpp
Widget/ScaledSliderWidget/moc_scaledsliderwidget.cpp
ComplexToneGenerator/moc_digesttimedata.cpp
ComplexToneGenerator/moc_freqplotwidget.cpp
ComplexToneGenerator/moc_generictimedata.cpp
ComplexToneGenerator/moc_mainwindow.cpp
ComplexToneGenerator/moc_plotwidget.cpp
ComplexToneGenerator/moc_sinusdata.cpp
ComplexToneGenerator/moc_timeplotwidget.cpp
Widget/ComboBoxLabelWidget/moc_comboboxnamewidget.cpp
Widget/ComboBoxWidgetColor/moc_comboboxwidgetcolor.cpp
Widget/SelectCurveWindowDialog/moc_selectcurvewindowdialog.cpp
Widget/SelectCurveWindowDialog/moc_selectcurvewindowhelper.cpp
Widget/widget.pro.user
Widget/QwtHelpers/moc_zmp_handler.cpp
ComplexToneGenerator/ComplexToneGenerator.pro.user
Widget/ComboBoxLabelWidget/Makefile

Widget/ComboBoxWidgetColor/Makefile

Widget/Makefile

Widget/QwtHelpers/Makefile

Widget/ScaledSliderWidget/Makefile

Widget/SelectCurveWindowDialog/Makefile

*.user

*.user

Widget/ComboBoxLabelWidget/ComboBoxLabelWidget.pro.user

*.5pre1

._.gitignore

ComplexToneGenerator/Makefile
