

QSplitter {
     background-color: DarkGray;
}

 QSplitter::handle:pressed {
    background-color: #ffa02f;
 }

QSplitter::handle {
     image:url(:/images/splitter_handle_horiz.png);
}

 QSplitter::handle:horizontal {
     width: 6px;
 }

 QSplitter::handle:vertical {
     height: 7px;
 }


